body {
  padding: 0;
  margin: 0;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("http://eagleads.phpsitescripts.com/images/stills/greenmountaincross.jpg"); }

.body_about {
  background-image: url("http://eagleads.phpsitescripts.com/images/stills/greenmountaincross.jpg"); }

.body_terms {
  background-image: url("http://eagleads.phpsitescripts.com/images/stills/bluemountains.jpg"); }

.body_privacy {
  background-image: url("http://eagleads.phpsitescripts.com/images/stills/mistyforest.jpg"); }

.body_success {
  background-image: url("http://eagleads.phpsitescripts.com/images/stills/rivervalley.jpg"); }

.body_support {
  background-image: url("http://eagleads.phpsitescripts.com/images/stills/soaringheights.jpg"); }

.body_faqs {
  background-image: url("http://eagleads.phpsitescripts.com/images/stills/bluemountains.jpg"); }

/* Top Navbar */
.navbar-ea {
  opacity: 0.8;
  background: #fff;
  box-shadow: 2px 2px 2px #000; }
  .navbar-ea .navbar-nav {
    float: none;
    text-align: center; }
    .navbar-ea .navbar-nav li {
      font-family: "Cinzel", serif;
      font-size: 1.5em;
      float: none;
      display: inline-block;
      margin: 2px; }
      .navbar-ea .navbar-nav li a {
        color: #000;
        text-shadow: 2px 2px 1px #fff, -2px -2px 1px #fff; }
      .navbar-ea .navbar-nav li:hover {
        background: #eee; }

/* Sections */
.fixed-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.fixed-bg1 {
  background-image: url("http://eagleads.phpsitescripts.com/images/shiningwaters.jpg");
  min-height: 928px; }

.fixed-bg2 {
  background-image: url("http://eagleads.phpsitescripts.com/images/cliffslight.jpg");
  min-height: 1142px; }

.fixed-bg3 {
  background-image: url("http://eagleads.phpsitescripts.com/images/eaglenest.jpg");
  min-height: 1300px; }

/* Video */
video {
  display: block; }

/* IE 8 */
.ParallaxVideo {
  min-height: 900px;
  padding-top: 110px; }
  .ParallaxVideo video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("http://eagleads.phpsitescripts.com/images/stills/greenmountaincross.jpg") no-repeat;
    background-size: cover; }
  .ParallaxVideo h1 {
    color: #fff;
    font-size: 9em;
    line-height: 1.1;
    text-align: center;
    opacity: 0.8;
    font-family: "Cinzel", serif;
    font-weight: 400;
    text-shadow: 2px 2px 2px #000;
    margin: 0; }
  .ParallaxVideo h2 {
    font-size: 2em;
    text-shadow: 2px 2px 2px #000;
    margin: 0; }
  .ParallaxVideo .overlay {
    width: 100%;
    text-align: center;
    margin-top: 10px; }
    .ParallaxVideo .overlay h1, .ParallaxVideo .overlay h2 {
      color: #FFF;
      font-family: "Cinzel", serif;
      margin: 0; }

/* Switch off video for smaller devices */
@media screen and (max-device-width: 800px) {
  html {
    background: url("http://eagleads.phpsitescripts.com/images/stills/greenmountaincross_sm.jpg") #000 no-repeat center center fixed; }

  #bgvideo {
    display: none; } }
.fa {
  padding-right: 3px; }

.whitetransparent {
  background: #fff;
  min-height: 200px;
  opacity: 0.3; }

.blacktransparent {
  background: #000;
  opacity: 0.7;
  width: 100%;
  min-height: 100px;
  margin-top: 4em;
  box-shadow: -1px -1px 2px #fff; }

.title {
  color: #fff;
  font-size: 5em;
  line-height: 1.1;
  text-align: center;
  opacity: 1.0;
  font-family: "Cinzel", serif;
  font-weight: 400;
  text-shadow: 2px 2px 2px #000;
  padding: 0.5em;
  padding-right: 1em; }

/* Footer */
.footercontainer {
  width: 100%;
  background: #fff;
  opacity: 0.8;
  position: fixed;
  box-shadow: -2px -2px 2px #000;
  bottom: 0; }
  .footercontainer .footer {
    text-align: center; }

/* Accordions */
.panel {
  border: 0; }

.panel-group {
  margin-top: 1.4em;
  opacity: 0.7;
  box-shadow: 2px 2px 2px #000; }
  .panel-group .panel-heading {
    background: #000; }
    .panel-group .panel-heading .panel-title a {
      font-family: "Cinzel", serif;
      font-size: 1.5em;
      font-weight: bold;
      text-decoration: none;
      opacity: 1.0; }
      .panel-group .panel-heading .panel-title a:hover {
        color: #fff; }
  .panel-group .panel-body {
    font-family: "Raleway", sans-serif;
    font-size: 1.5em; }

/* Forms */
.ea-bottompadding {
  margin-bottom: 2em; }

.ea-bottompaddingfat {
  margin-bottom: 4em; }

.btn-custom {
  font-family: "Cinzel", serif;
  background: #000;
  border: 0;
  order-radius: 6px;
  padding: 15px;
  color: #fff !important;
  cursor: pointer;
  opacity: 0.7; }
  .btn-custom:hover {
    background: #302c22;
    opacity: 1.0;
    font-weight: bold;
    box-shadow: -1px -1px 2px #fff; }

.form-control {
  color: #302c22;
  opacity: 0.7; }

/* Media Queries */
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .ParallaxVideo h1 {
    font-size: 2em; }
  .ParallaxVideo h2 {
    font-size: 1em; }

  .title {
    font-size: 2em; } }
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .ParallaxVideo h1 {
    font-size: 4em; }
  .ParallaxVideo h2 {
    font-size: 2em; }

  .title {
    font-size: 3em; } }
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .ParallaxVideo h1 {
    font-size: 8em; }

  .title {
    font-size: 4em; } }
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .ParallaxVideo h1 {
    font-size: 9em; }

  .title {
    font-size: 5em; } }
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .ParallaxVideo h1 {
    font-size: 10em; }
  .ParallaxVideo h2 {
    font-size: 3em; }

  .title {
    font-size: 5em; } }
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .ParallaxVideo h1 {
    font-size: 11em; }

  .title {
    font-size: 6em; } }

/*# sourceMappingURL=style.css.map */
