$headingfont : "Cinzel", serif;
$textshadow : 2px 2px 2px #000;

body {
  padding: 0;
  margin: 0;
  background-color: #000;
}
.fixed-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}
.fixed-bg1 {
  background-image: url('http://eagleads.phpsitescripts.com/images/eaglenest.jpg');
  min-height: 928px;
}
.fixed-bg2 {
  background-image: url('http://eagleads.phpsitescripts.com/images/cliffslight.jpg');
  min-height: 1142px;
}
.fixed-bg3 {
  background-image: url('http://eagleads.phpsitescripts.com/images/greenmountaincross.jpg');
  min-height: 1300px;
}
.ParallaxVideo {
  height: 900px;
  video {
    min-width: 100%;
    top: 0;
    z-index: -999;
    background: transparent url('http://eagleads.phpsitescripts.com/images/wheat.jpg') no-repeat 0 0;
  }
  h1 {
    color: #fff;
    font-size: 9em;
    line-height: 1.1;
    text-align: center;
    opacity: 0.9;
    font-family: $headingfont;
    font-weight: 400;
    text-shadow: $textshadow;
    margin: 0;
  }
  h2 {
    font-size: 2em;
    text-shadow: $textshadow;
    margin: 0;
  }
  .overlay {
    width:100%;
    text-align:center;
    margin-top: 10px;
    // background: rgba(0, 0, 0, 0.2);
    h1, h2 {
      color:#FFF;
      font-family: $headingfont;
      margin: 0;
    }
  }
}
.whitetransparent {
  background: #fff;
  min-height: 200px;
  opacity: 0.3;
}
.container {
  width: 100%;
  background: #fff;
  .footer {
    text-align: center;
  }
}
